body {
    background-color: black;
}
.row div{
    height: 38px;
    width: 38px;
    display: inline-block;
}
.brick {
    background-color: blue;
}
.coin {
    background-image: url(images/coin.png);
    background-position: center;
    background-repeat: no-repeat;
}
.pacman {
    background-image: url(images/pacman.gif);
    background-position: center;
    background-repeat: no-repeat;
}
.empty {
    background-color: black;
}